<div class="login-content">
    <div class="left-block">
        <div><h1 style="text-align: center" style="text-shadow: #818181">ADSK Report Portal</h1>
            <h4 style="text-align: center">QA reports at center</h4></div>
        </br></br>

<style>
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay1 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



</style>
<h2>What reportportal can do</h2>
<span style="font-size:20px;">&#9776; Manage all your automation results and reports in one place </span>
</br>
<span style="font-size:20px;">&#9776; Make automation results analysis actionable & collaborative</span>
</br>
<span style="font-size:20px;">&#9776; Establish fast traceability with defect management</span>
</br>
<span style="font-size:20px;">&#9776; Accelerate routine results analysis</span>
</br>
<span style="font-size:20px;">&#9776; Visualize metrics and analytics</span>
</br>
<span style="font-size:20px;">&#9776; Make smarter decisions together</span>
</br>
</br>
<h2>How ReportPortal works</h2>
<span style="font-size:20px;">&#9776; Integrate ReportPortal with your existing test automation process</span>
</br>
<span style="font-size:20px;">&#9776; Review execution results with the advantage of real-time integration</span>
</br>
<span style="font-size:20px;">&#9776; Categorize issues according to their real reason for failure</span>
</br>
<span style="font-size:20px;">&#9776; Reduce evaluation of reports with auto-analysis based on collected historical data</span>
</br>
<span style="font-size:20px;">&#9776; Visualise your statistics and metrics</span>
</br>
<span style="font-size:20px;">&#9776; Access your test automation results on any device</span>

    </div>
    <div class="right-block">
        <div class="subpage-container" data-js-subpage-container></div>
        <div class="service-versions" data-js-service-versions-container></div>
    </div>
</div>
